

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Specific Divs to Style */
html, body {
  height: 100%;
  margin: 0;
}


.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}


.mainHeader2 {
  padding: 10px;
  height: 400px;
  margin-top: 40px;
}

.wideImage1 {
  background-image: url("/img/breakfast.jpeg");
  background-size: cover;
  height: 800px;
}
.aboutUs {
  padding: 50px;
  margin: 50px;
  border-bottom: 3px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
}

.textContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.item1, .item2, .item3 {
  padding: 20px;
}

.callNow {
  background: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}

#aboutPic {
  width: 500px;
  height: 300px;
}

.wideImage2 {
  background-image: url("/img/diner.jpeg");
  background-size: cover;
  height: 800px;
}

.menu {
  padding: 40px;
}

.mainHeader2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu2 {
  display: flex;
  justify-content: center;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #000000;
  color: white;
}

.footerBottom {
  background-color: #333333;
}

.footerDescription p {
  padding: 20px;
}

.footerAddress {
  padding: 20px;
}


#socialicons {
    text-align: center;
}
#socialicons .icon{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    margin: 5px 5px 16px;
}
#socialicons .icon:hover{
    color: white;
    border: 1px solid #CFCFCF;
}


/*.footerSocial {
  text-align: center;
}
.footerSocial ul {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  color: white;
  width: 34px;
  height: 34px;
  line-height: 34px;
  vertical-align: center;
  margin: 0 1px 8px;
}
.footerSocial ul li {
  display: inline;
}*/
